<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallet_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".insert.InsertActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.PayListDetail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".filter.FilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stats.StatsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>